<?xml version="1.0" ?>

<robot xmlns:drake="http://drake.mit.edu" name="lite6_vacuum_gripper">

  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <link name="lite6_vacuum_gripper_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.030"/>
      <mass value="0.14"/>
      <inertia ixx="0.00047106" ixy="3.9292E-07" ixz="2.6537E-06" iyy="0.00033072" iyz="-1.0975E-05" izz="0.00025642"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://lite6_description/meshes/gripper/visual/vacuum_gripper.obj"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="White"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://lite6_description/meshes/gripper/collision/vacuum_gripper/vacuum_gripper_cylinder1.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://lite6_description/meshes/gripper/collision/vacuum_gripper/vacuum_gripper_cylinder2.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://lite6_description/meshes/gripper/collision/vacuum_gripper/vacuum_gripper_ellipse1.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <link name="link_tcp"/>

  <joint name="joint_tcp" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.061"/>
    <parent link="lite6_vacuum_gripper_link"/>
    <child link="link_tcp"/>
  </joint>

</robot>
